.Preview {
	display: grid;
	grid-template-columns: 500px auto;
	grid-template-areas:
		"head head"
		"exp side"
		"edu side";
	width: 100%;
	color: white;
	box-shadow: 10px 10px 10px black;
}

.Preview > * {
	overflow-wrap: break-word;
}

.previewTitle {
	border-bottom: solid white;
	padding-bottom: 10px;
}

.headerDetails {
	grid-area: head;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
	background-color: rgb(3, 3, 104);
}

.experienceDetails {
	grid-area: exp;
	padding: 20px;
}

.educationDetails {
	grid-area: edu;
}

.sideDetails {
	grid-area: side;
}
