.App {
	background-color: rgb(29, 29, 29);
	color: white;
	min-height: 100vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.App > * {
	padding: 2rem;
	display: flex;
}

header {
	height: 80px;
	align-items: center;
	justify-content: center;
}

main {
	flex: 1;
	justify-content: center;
	gap: 60px;
	align-items: flex-start;
}

.formArea {
	display: flex;
	flex-direction: column;
	flex: 0 1 700px;
	background-color: black;
}

.previewArea {
	display: flex;
	flex: 0 0 800px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 20px;
}

footer {
	height: 80px;
	justify-content: center;
	align-items: center;
}
